In [8]:
import pandas as pd
# Creating Data Frames
data = {
     'Name': [ 'Alice', 'Nathan', 'Alex'],
      'Age': [25, 30 ,35],
     'City': ['Lagos', 'Ogun', 'Delta']
       }
df = pd.DataFrame(data)
print(df)

     Name  Age   City
0   Alice   25  Lagos
1  Nathan   30   Ogun
2    Alex   35  Delta

In [11]:
import pandas as pd
data = {
    'OrderID':[1001, 1002, 1003],
    
    'CustomerName': ['Sarah', 'Amaka', 'Chidera'],
    
    'ProductType': ['Bag', 'Dress', 'Bag'],
    
    'Fabric': ['Ankara', 'Lace', 'Denim'],
    
    'Quantity':[2, 1, 3],
    
    'Price': [30, 50, 45],
    
    'OrderDate': ['2025-04-01', '2025-04-03', '2025-04-04']
       }
df = pd.DataFrame(data)
print(df)

   OrderID CustomerName ProductType  Fabric  Quantity  Price   OrderDate
0     1001        Sarah         Bag  Ankara         2     30  2025-04-01
1     1002        Amaka       Dress    Lace         1     50  2025-04-03
2     1003      Chidera         Bag   Denim         3     45  2025-04-04

In [1]:
import pandas as pd

df = pd.read_csv("fashion_orders.csv")
print(df.head())

   OrderID CustomerName ProductType  Fabric  Quantity  Price   OrderDate
0     1001        Sarah         Bag  Ankara         2     30  2025-04-01
1     1002        Amaka       Dress    Lace         1     50  2025-04-03
2     1003      Chidera         Bag   Denim         3     45  2025-04-04
3     1004        Ngozi         Top  Cotton         2     25  2025-04-05
4     1005          Ada       Dress  Ankara         1     60  2025-04-06

In [2]:
print(df.info())        # Overview of data
print(df.describe())    # Stats for numerical columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       5 non-null      int64
 1   CustomerName  5 non-null      object
 2   ProductType   5 non-null      object
 3   Fabric        5 non-null      object
 4   Quantity      5 non-null      int64
 5   Price         5 non-null      int64
 6   OrderDate     5 non-null      object
dtypes: int64(3), object(4)
memory usage: 412.0+ bytes
None
           OrderID  Quantity     Price
count     5.000000   5.00000   5.00000
mean   1003.000000   1.80000  42.00000
std       1.581139   0.83666  14.40486
min    1001.000000   1.00000  25.00000
25%    1002.000000   1.00000  30.00000
50%    1003.000000   2.00000  45.00000
75%    1004.000000   2.00000  50.00000
max    1005.000000   3.00000  60.00000

In [3]:
df['Total'] = df['Quantity'] * df['Price']
print(df[['CustomerName', 'Total']])

  CustomerName  Total
0        Sarah     60
1        Amaka     50
2      Chidera    135
3        Ngozi     50
4          Ada     60

In [4]:
print(df.groupby('ProductType')['Total'].sum())

ProductType
Bag      195
Dress    110
Top       50
Name: Total, dtype: int64

In [5]:
print(df['Fabric'].value_counts())

Fabric
Ankara    2
Lace      1
Denim     1
Cotton    1
Name: count, dtype: int64

In [6]:
bags_df = df[df['ProductType'] == 'Bag']
print(bags_df)

   OrderID CustomerName ProductType  Fabric  Quantity  Price   OrderDate  \
0     1001        Sarah         Bag  Ankara         2     30  2025-04-01
2     1003      Chidera         Bag   Denim         3     45  2025-04-04

   Total
0     60
2    135

In [ ]:
import matplotlib.pyplot as plt

df.groupby('Fabric')['Total'].sum().plot(kind='bar')
plt.title("Sales by Fabric Type")
plt.ylabel("Total Sales (â‚¦)")
plt.show()

Matplotlib is building the font cache; this may take a moment.